.signupBody{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: rgb(181,184,188);
}

.main{
    margin-top: 5%;
    border: 1px solid black;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 4px;
}

.siteTitle{
    font-family: 'Pacifico', cursive;
    color: black;
}

.facebookLogin{
    background-color: blue;
    width: 75%;
    border-radius: 4px;
}

.second{
    background-color: #3897f0;
    margin-left: 15%;
    margin-right: 15%;
    padding: 6px;
    border-radius: 3px;
}

.siteTitle a:link{
    color: black;
}

.siteTitle a:visited{
    color: black;
}

.siteTitle a:hover{
    text-decoration: none;
}

.second a:link{
    color: white;
    text-decoration: none;
}

.second a:visited{
    color: white;
    text-decoration: none;
}


.loginwithFacebook{
    margin-left: 10px;
}

.signinInitialStep__divider__or{
    position: relative;
    top:21px;
    background: #fff;
    color: black;
    display: inline-block;
    padding: 0 20px;
}

.signinInitialStep__divider__line{
    height: 1px;
    background: black;
    margin-bottom: 8%;
    margin-left: 5%;
    margin-right: 5%;
}

.formField{
    display: block;
    border-radius: 4px;
    margin-right: 25%;
    margin-left: 17%;
    text-align: center;
    width: 300px;
    color:black;
}

.signup{
    background-color: #3897f0;
    width: 75%;
}

.signup:hover{
    background-color: #3897f0;
}

.signUpterms{
  margin-left: 25%;
  margin-right: 25%;
}

.login:link{
    color:blue;
    text-decoration: none;
}

.login:active{
    color:blue;
    text-decoration: none;
}

.login:hover{
    color:blue;
    text-decoration: none;
}

.login:visited{
    color:blue;
    text-decoration: none;
}

.alreadyAccount{
    color: black;
    position: absolute;
    right: 33%;
}

@media (min-width:200px) and (max-width:600px){
    .main{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .formField{
        width:75%;
        margin-left: 15%;
        margin-right: 25%
    }
    
    .alreadyAccount{
        position:absolute;
        right:13%;
    }
}

@media (min-width:601px) and (max-width:1000px){
    .main{
        margin-left: 25%;
        margin-right: 25%;
    }
    
    .formField{
        width:68%;
    }
    
    .alreadyAccount{
        position:absolute;
        right:28%;
    }
}

@media (min-width:1001px) and (max-width:1248px){
    .main{
         margin-left: 25%;
         margin-right: 25%;
    }
    
    .formField{
        width:75%;
    }
    
    .alreadyAccount{
        position:absolute;
        right:28%;
    }
}